/* @media screen and (max-width: 586px){ */
  /* .card-body-custom{  
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
  } */

  /* .searchCity{
    white-space:nowrap !important;

  }
} */

/* .cardStyle {
  align-items: center;
  justify-content: space-around;
}

#fiveDayForecast {
  justify-content: space-around!important;
} */
