@media screen and (max-width: 586px){ 
  .card-body-custom{  
    display: flex !important;
    flex-wrap: wrap !important;
    text-align: center !important;
    width: 100% !important;
  }

  .searchCity{
    white-space:nowrap !important;

  } 
}

  .cardStyle {
  align-items: center !important;
  justify-content: space-around !important;
}

#fiveDayForecast {
  justify-content: space-around !important;
}

#fiveDayForecast {
  margin-right: 20px !important;
}